[site]
domain = site.com
host   = http://site.com

[path]
templates = /tpl
bkp       = /bkp
html      = /html
img       = /img

[admin]
user    = admin
pass    = 123456

[storage]
type = sqlite
path = /strg
name = sitecom.db
